---
---
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-block">
                <h1 class="card-title">
                    Mobile App Programming <small class="text-muted">@ NCCU 2016F</small>
                </h1>
            </div>
            <div class="card-block">
                <p class="card-text">
                    This site is hosted via GitHub Pages, see
                    <a href="https://github.com/sodascourse/sodascourse.github.io" target="_blank">
                    sodascourse/sodascourse.github.io</a><br>
                    Playgrounds and Sample projects are hosted via GitHub too, see
                    <a href="https://github.com/sodascourse" target="_blank">sodascourse</a><br>
                    You're welcome to submit issues and pull requests. Thanks.
                </p>
            </div>
        </div>
    </div>
</div>
{% assign card_width = 3 %}
{% assign card_columns_count = 12 | divided_by: card_width %}
{% assign card_rows_count = site.data.index.size | divided_by: card_columns_count %}
{% assign card_rows_remainder = site.data.index.size | modulo: card_columns_count %}
{% if card_rows_remainder != 0 %}
    {% assign card_rows_count = card_rows_count | plus: 1 %}
{% endif %}
{% for row_idx_1 in (1..card_rows_count) %}
    <div class="row">
        {% for column_idx_1 in (1..card_columns_count) %}
            {% assign card_index = row_idx_1 | minus: 1 | times: card_columns_count | plus: column_idx_1 | minus: 1 %}
            {% if card_index >= site.data.index.size %}
                {% continue %}
            {% endif %}
            {% assign item = site.data.index[card_index] %}
            <div class="col-sm-{{ card_width }}">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">{{ item.title }}</h4>
                        <p class="card-text">{{ item.text }}</p>
                        <a href="{{ item.link }}" class="btn btn-outline-{{ item.link_style }}"
                            target="{{ item.link_target | default: '_self' }}">
                            {{ item.link_text }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
