---
scripts: syllabus.js
stylesheet: syllabus.css
---
<section class="content-section">
    <header>
        <h1>Prerequisite</h1>
    </header>
    <ul>
        <li>
            <a href="https://itunes.apple.com/app/xcode/id497799835?mt=12" target="_blank">Xcode 8.0</a>
            <em>(or newer versions)</em>
        </li>
        <li>
            A Mac running
            <a href="https://itunes.apple.com/app/macos-sierra/id1127487414?mt=12" target="_blank">macOS Sierra 10.12</a>
            or OS X El Capitan 10.11.5
            <em>
                (or newer updates of each OS versions)<br>
                (laptops are recommended. you should bring your Mac to the class.)
            </em>
        </li>
        <li>An iOS device <em>(recommended, not required, at least running iOS 10.)</em></li>
        <li>This class is aimed for programming newbies, so there's no required class before this class.</li>
    </ul>
</section>
<section class="content-section">
    <header>
        <h1>Syllabus</h1>
    </header>
    <div class="table-responsive">
        <table id="syllabus-calendar-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Topics</th>
                    <th>Resources</th>
                </tr>
            </thead>
            <tbody>
                {% for class in site.data.classes.syllabus %}
                    <tr data-date="{{ class.date }}">
                        <th>{{ class.date }}</th>
                        {% if class.title %}
                            <th>
                                {{ class.title }}
                                {% if class.description %}
                                    <br>
                                    <small>{{ class.description }}</small>
                                {% endif %}
                            </th>
                        {% else %}
                            <td>[TBA]</td>
                        {% endif %}
                        <td>
                            <ul>
                                {% for topic in class.topics %}
                                    <li>{{ topic }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            {% for resource_group in class.resources %}
                                <section>
                                    <small>{{ resource_group.title }}</small>
                                    <ul>
                                        {% for resource in resource_group.content %}
                                            <li>
                                                <a href="{{ resource.link }}" target="_blank">
                                                    {{ resource.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </section>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
