---
---
@import "base.scss";

.content-table {
  thead, tbody {
    th, td {
      &:nth-child(1) { width: 25%; }
      &:nth-child(2) { width: 35%; }
      &:nth-child(3) { width: 40%; }
    }
  }
  margin-bottom: 60px;
}
