<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sodas's course</title>
        <!-- Apply color early -->
        <style>body { background: #222931; color: #fff; }</style>
        <link rel="stylesheet" crossorigin="anonymous"
            href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" crossorigin="anonymous"
            href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/default.css">
    </head>
    <body>
        <section id="page-content" class="container">
            {{ content }}
        </section>
        <!--<footer id="page-footer" class="container">
            <div class="row">
                <div id="page-footer-copyright" class="col-sm-6">
                    Copyright &copy; TIEN-CHE TSAI 2016.
                </div>
                <div id="page-footer-links"" class="col-sm-6">
                    <ul class="clearfix">
                        <li>
                            <a href="https://twitter.com/sodastsai" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i> @sodastsai
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/sodastsai" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i> @sodastsai
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/sodastsai" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i> @sodastsai
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>-->
    </body>
</html>
